/* Grid */
@import url("../font/Lato-Regular.ttf");
html, header {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif; }

body, header, main, footer, .apply-grid {
  display: grid;
  grid-auto-rows: auto; }

#storefront img {
  height: 200px;
  width: 100%; }

.flex {
  display: flex; }

.column {
  flex-direction: column; }

body {
  margin: 0;
  padding: 0; }

.top-apply-grid {
  grid-template-rows: 75px auto; }

.full-width {
  grid-column: span 8; }

.button {
  width: 100%;
  border-radius: 5rem; }

.center {
  margin-left: auto;
  margin-right: auto; }

.vertical-center {
  margin-top: auto;
  margin-right: auto; }

.inner-center {
  padding-left: auto;
  padding-right: auto; }

.true-center {
  margin: auto; }

.text-center {
  text-align: center; }

.left {
  margin-left: 0;
  margin-right: auto; }

.right {
  margin-left: auto;
  margin-right: 0; }

.hero {
  grid-column: span 8;
  width: 100%; }
  .hero img {
    width: 100%; }

.ptb {
  padding-top: 20px;
  padding-bottom: 20px; }

.pb {
  padding-bottom: 20px; }

.pt {
  padding-top: 20px; }

.mt {
  margin-top: 20px; }

@media only screen and (max-width: 767.98px) {
  body, header, main, footer, .apply-grid, .top-apply-grid {
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr; }
  #login, #signup, #cart, #user {
    display: none; }
  img {
    height: 100%;
    width: 100%; }
  .center-m {
    margin-left: auto;
    margin-right: auto; }
  .left-m {
    margin-left: 0;
    margin-right: auto; }
  .right-m {
    margin-left: auto;
    margin-right: 0; }
  .main-content {
    grid-column: span 8; }
  .c-one-s-two {
    grid-column-start: 2;
    grid-column-end: span 2; }
  .column-width {
    grid-column-start: 2;
    grid-column-end: span 6; }
  .full-s-width {
    grid-column: span 8; }
  .cs-one {
    grid-column: 2; }
  .cs-six {
    grid-column: 7; } }

@media only screen and (min-width: 768px) {
  body, header, main, footer, .apply-grid {
    grid-template-columns: 0.5fr 1.25fr 1.25fr 1.25fr 1.25fr 0.5fr;
    grid-column-gap: 10px; }
  #login, #signup, #cart, #user {
    display: none; }
  .main-content {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row: 3; }
  .c-one {
    grid-column: 2; }
  .c-two {
    grid-column: 3; }
  .c-three {
    grid-column: 4; }
  .c-four {
    grid-column: 5; }
  .c-five {
    grid-column: 6; }
  .c-six {
    grid-column: 7; }
  .s-two {
    grid-column: span 2; }
  .s-three {
    grid-column: span 3; }
  .s-four {
    grid-column: span 4; }
  .s-five {
    grid-column: span 5; }
  .s-six {
    grid-column: span 6; }
  .c-one-s-two {
    grid-column-start: 2;
    grid-column-end: span 2; }
  .c-one-s-three {
    grid-column-start: 2;
    grid-column-end: span 3; }
  .c-one-s-four {
    grid-column-start: 2;
    grid-column-end: span 4; }
  .c-one-s-five {
    grid-column-start: 2;
    grid-column-end: span 5; }
  .c-one-s-six {
    grid-column-start: 2;
    grid-column-end: span 6; }
  .c-two-s-five {
    grid-column-start: 3;
    grid-column-end: span 5; }
  .c-three-s-two {
    grid-column-start: 4;
    grid-column-end: span 2; }
  .c-m-one {
    grid-column: 2; }
  .c-m-two {
    grid-column: 3; }
  .c-m-three {
    grid-column: 4; }
  .c-m-four {
    grid-column: 5; }
  .c-m-five {
    grid-column: 6; }
  .c-m-six {
    grid-column: 7; }
  .cm-one-s-two {
    grid-column-start: 2;
    grid-column-end: span 2; }
  .cm-one-s-four {
    grid-column-start: 2;
    grid-column-end: span 4; }
  .cm-two-s-two {
    grid-column-start: 3;
    grid-column-end: span 2; }
  .cm-three-s-two {
    grid-column-start: 4;
    grid-column-end: span 2; }
  .full-width {
    grid-column: span 6; } }

@media only screen and (min-width: 968px) {
  body, header, main, footer, .apply-grid {
    grid-template-columns: 0.5fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 0.5fr;
    grid-column-gap: 10px; }
  #login, #signup, #cart, #user {
    display: block; }
  .full-width {
    grid-column: span 8; }
  .main-content {
    grid-column-start: 2;
    grid-column-end: span 6;
    grid-row: 3; }
  .c-one {
    grid-column: 2; }
  .c-two {
    grid-column: 3; }
  .c-three {
    grid-column: 4; }
  .c-four {
    grid-column: 5; }
  .c-five {
    grid-column: 6; }
  .c-six {
    grid-column: 7; }
  .s-two {
    grid-column: span 2; }
  .s-three {
    grid-column: span 3; }
  .s-four {
    grid-column: span 4; }
  .s-five {
    grid-column: span 5; }
  .s-six {
    grid-column: span 6; }
  .c-one-s-two {
    grid-column-start: 2;
    grid-column-end: span 2; }
  .c-one-s-three {
    grid-column-start: 2;
    grid-column-end: span 3; }
  .c-one-s-four {
    grid-column-start: 2;
    grid-column-end: span 4; }
  .c-one-s-five {
    grid-column-start: 2;
    grid-column-end: span 5; }
  .c-one-s-six {
    grid-column-start: 2;
    grid-column-end: span 6; }
  .c-two-s-four {
    grid-column-start: 3;
    grid-column-end: span 4; }
  .c-three-s-two {
    grid-column-start: 4;
    grid-column-end: span 2; }
  .c-five-s-two {
    grid-column-start: 6;
    grid-column-end: span 2; } }

/* Colors */
.bg-lightbrown {
  background-color: #ffe7c7; }

.c-lightbrown {
  color: #ffe7c7; }

.bg-darkbrown {
  background-color: #362e24; }

.c-darkbrown {
  color: #362e24; }

.bg-hazybrown {
  background-color: #74695c; }

.c-hazybrown {
  color: #74695c; }

.bg-white {
  background-color: #ffffff; }

.c-white {
  color: #ffffff; }

/* Navbar */
#bottom-nav {
  overflow: hidden; }

#close-menu {
  display: none; }

@media only screen and (max-width: 767.98px) {
  .top-nav {
    padding-top: 3%;
    padding-bottom: 3%; }
  #bottom-nav {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 1px;
    overflow: hidden; }
    #bottom-nav .normal {
      display: none; } }

@media only screen and (min-width: 768px) {
  .top-nav {
    padding-top: 2%;
    padding-bottom: 2%; }
  #bottom-nav {
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden; }
    #bottom-nav .normal {
      display: none; } }

@media only screen and (min-width: 968px) {
  #hamburger-menu {
    display: none; }
  #bottom-nav {
    height: 100%; }
    #bottom-nav .normal {
      display: block; }
    #bottom-nav .shrunk {
      display: none; } }

/* Main */
main {
  height: 100%; }

.main-content {
  margin-top: 4%;
  margin-bottom: 5%; }

a {
  text-decoration: none; }

h4 {
  margin: 0; }

/* Footer */
footer {
  padding-top: 5%;
  padding-bottom: 5%; }
  footer h3 {
    margin-top: 0; }
