/* Colors */

.bg-lightbrown {
    background-color: $lightbrown;
}
.c-lightbrown {
    color: $lightbrown;
}

.bg-darkbrown {
    background-color: $darkbrown;
}
.c-darkbrown {
    color: $darkbrown;
}

.bg-hazybrown {
    background-color: $hazybrown;
}
.c-hazybrown {
    color: $hazybrown;
}

.bg-white {
    background-color: $white;
}
.c-white {
    color: $white;
}